{%extends "base.html" %}
{% block title %}Página Principal{% endblock title %}
{% block content %}
    <h3>Pokemons</h3>
    <div class="row">
        {% for pokemon in pokemons %}
        <div class="col-sm-4">
            <br>
            
            <div class="card" style="width: 80%;">
                <img class="card-img-top" src="{{ pokemon.picture.url }}" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ pokemon | capfirst }}</h5>
                  <p class="card-text">Altura: {{ pokemon.height }} </p>
                  <a href="{{pokemon.id }}" class="btn btn-primary">
                    <i class="fa-solid fa-eye"></i>
                  </a>
                </div>
            </div>
    </div>
        {% endfor %}
    </div>

    <h3>Entrenadores</h3>
    <ul class="list-group">
        {% for trainer in trainers %}
        <li class="list-group-item">
            <a href="trainer/{{trainer.id }}">{{ trainer | capfirst }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endblock content %}